body {
    background-color: #404E3B;
    margin:0;
    padding:0;
    box-sizing:border-box;
}



#menu_nev {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;

    margin-top: 5px;

    border-style: solid;
    border-width: 1px;
    color: white;
}

#menu_nev p {    
    font-size: 20px;      
}

#menu {
    margin-top: 1px;
    display: flex;

    background-color: #6c8480;
    border-style: solid;
    border-width: 1px;
    color: white;
}

#menu p {
    margin-left: 280px;
    padding: 10px 20px 10px 20px;
    border-style: solid;
}



#bemutatkozasH1 {
    font-size: 40px;
    padding-left: 43vw;
    padding-top: 50px;
    color: white;
}

#bemutatkozasBlokk {
    display: flex;
    justify-content: center;
    color: white;
}


#bemutatkozasKep img{
    height: 800px;
    padding-top: 150px;
    padding-right: 100px;
}

#bemutatkozasP {
    padding-top: 110px;
    width: 400px;
    font-size: 32px;
}



#kezsegekH1 {
    font-size: 40px;
    padding-left: 45vw;
    padding-top: 150px;
    color: white;
}

#kezsegKepek {
    padding-top: 100px;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

#kezsegKepek img{
    height: 500px;
}


#kezsegKepek .kezsegKep {
    background-color: #7B9669;
    height: 600px;
    width: 500px;
}

#htmlKep{
    padding-top: 50px;
}

#cssKep{
    padding-top: 50px;
    padding-left: 75px;
}

#jsKep {
    padding-top: 50px;
    padding-left: 75px;
}

#pythonKep {
    padding-top: 50px;
}

#sqlKep{
    padding-top: 50px;
}

#gitKep{
    padding-top: 50px;
}

#projektekBlokk {
    color: white;
}

#projektekBlokk h1 {
    font-size: 40px;
    padding-left: 45vw;
    padding-top: 150px;
    color: white;
}

#projektekFlex {
    display: flex;
}

