body {
    background-color: #404E3B;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#menu_nev {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;

    margin-top: 5px;

    border-style: solid;
    border-width: 1px;
    color: white;
}

#menu_nev p {    
    font-size: 20px;      
}

#menu {
    margin-top: 1px;
    display: flex;

    background-color: #6c8480;
    border-style: solid;
    border-width: 1px;
    color: white;
}

#menu p {
    margin-left: 280px;
    padding: 10px 20px 10px 20px;
    border-style: solid;
}